# Move PID to a writable directory for non-root user
pid /tmp/nginx.pid;

events { 
    worker_connections 1024; 
}

http {
    # Direct Nginx to use /tmp for all temp files to bypass permission issues
    client_body_temp_path /tmp/client_temp;
    proxy_temp_path       /tmp/proxy_temp;
    fastcgi_temp_path     /tmp/fastcgi_temp;
    uwsgi_temp_path       /tmp/uwsgi_temp;
    scgi_temp_path        /tmp/scgi_temp;

    # Custom log format: $time_iso8601 | $status | ${request_time}s | $upstream_addr | $request
    log_format swift_format '$time_iso8601 | $status | ${request_time}s | $upstream_addr | $request';

    upstream backend_servers {
        server api-service:{{ app_port }};
    }

    server {
        listen {{ nginx_port }};
        access_log /var/log/nginx/access.log swift_format;

        # Timeouts from manifest - 's' unit prevents [emerg] syntax errors
        proxy_read_timeout {{ proxy_timeout }}s;
        proxy_connect_timeout {{ proxy_timeout }}s;
        proxy_send_timeout {{ proxy_timeout }}s;

        location / {
            proxy_pass http://backend_servers;
            proxy_set_header X-Deployed-By "swiftdeploy";
            
            # Forward X-Mode from upstream
            proxy_pass_header X-Mode;

            # Enable custom JSON error responses
            proxy_intercept_errors on;
            error_page 502 503 504 /error_json;
        }

        location = /error_json {
            internal;
            add_header Content-Type application/json;
            return 502 '{"error": "Service Unavailable", "code": 502, "service": "api-service", "contact": "devops-team"}';
        }
    }
}